/* CSS SPECIFIQUE */

body {
	mbackground: url('../img/text-herb.jpg') top left;
	padding-top: 40px;
	height: 100%;
}

.fj_container {
	background: white;
}

#captcha td {
	padding-top: 40px;
}

.box {
	background-color: #fff;
	overflow: hidden;
	_overflow: visible;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 2px 2px #F1F1F1;
	box-shadow: 0px 0px 2px 2px #F1F1F1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #EDEDED;	
}

#argu-candidat-1 .lead {
	font-style: italic;
	text-align: center;
}




#offre-speciale-1 {
	width: 180px;
	height: 160px;
	background-color: #cc0001;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	padding: 20px 10px;
	color: white;
	float: right;
	margin: 10px;
	text-align: center;	
}

#offre-speciale-1 h1 {
	text-transform: uppercase;
}

#chevrons {
	margin-bottom: 20px;
	margin-top: 20px;
}

.subhead {
	color: white;
	background-image: url('../img/flowerd.jpg');
	background-size: cover;
	margin: 0;
	width: 100%;
	padding: 0px 0 30px 0;
	margin-bottom: 20px;
	background-color: #EEE;
	height: 130px;
}


.subhead-recruteur {
	background-image: url('../img/flower-recruteur.jpg');
}



.subhead h1 {
margin-bottom: 0;
padding-top: 30px;
font-size: 60px;
line-height: 1;
letter-spacing: -1px;
color: inherit;
}

.subhead p {
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
}


#fj_searchbar_annonces .navbar-inner {

}

#specific-access {
	list-style-type: none;
	margin-bottom: 0px;
	margin-top: 0px;
}

#specific-access .btn {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	border-top: 0;	
}

#specific-access li {
	float: right;
	margin-left: 3px;
}

form .help-block {
	margin-top: -10px;
	color: #AAA;
}

.clonedXp {
	border-bottom: 1px silver solid;
	padding-bottom: 10px;
	margin-bottom: 10px; 
}

#btnDelFormation[disabled],
#btnDelXp[disabled],
#btnDelRecomp[disabled] {
	display: none;
}

.red {
	color: red;
}

#modal_replace form {
	margin: 0;
}







/* CAROUSEL FULL SCREEN */

#myCarousel-fullscreen {
	background-color: black;
}


#myCarousel-fullscreen .carousel img {
	mmin-width: 100%;
	margin: 0 auto;
	height: 600px;
}

.fbconnect-btn {
	display: block;
	width: 158px;
	height: 35px;
	background: url('../img/facebook_connect.png') top left no-repeat;
}





/* MINIATURES DES BOOKS */


.book-main {
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	width: 280px;
	background-color: white;
	position: relative;
	padding: 5px 6px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 360px;
}

.book-thumb {
	position: relative;
	padding-bottom: 7px;
	background: url('../img/thumb-bg.png') no-repeat left bottom;
	margin-bottom: 0px;	
}

.book-thumb .th_crop {
	height: 187px;
	overflow: hidden;
}

div.book-content {
	text-align: center;
}





/* BADGES ET LABELS */

.badge-large {
	font-size: 15px;
	line-height: 25px;
}







/* ETOILES */

.star {
    background: url('../img/csg-5098d9a818e75.png') no-repeat top left;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.star-off { 
	background-position: 0 0; 
} 

.star-on { 
	background-position: 0 -60px; 
} 









/* TAGS DE FLEURS */

.latin_name {
	font-weight: normal;
}

#added_flowers span {
	margin-right: 3px;
}










/* CAROUSEL DES BOOKS FEATURED */

.featured-book-thumb {
	height: 360px;
	width: 100%;
	overflow: hidden;	
}

.featured-book-thumb img.featured-book-background {
	width: 100%;
	margin-top: -300px;
}

.featured-mini-book-thumb {
	position: absolute;
	top: 70px;
	left: 100px;
	background-color: white;
	width: 290px;
	padding: 5px;
	height: 210px;
	display: block;
	-webkit-box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 8px 8px 15px rgba(0,0,0,0.5);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);	
}

.featured_th_crop {
	width: 290px;
	height: 210px;
	overflow: hidden;		
}

.featured-book-content {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 380px;
	right: 0px;
	top: 0px;
	height: 320px;
	color: white;
	padding : 20px 100px 20px 40px;	
}

.featured-visit-btn {
	position: absolute;
	left: 40px;
	bottom: 40px;
}



#myCarousel-featured {

}

#myCarousel-featured {

}

#myCarousel-featured img {
	
}


.comment .meta-data {
	padding-bottom: 20px;
	font-size: 10px;
}

.red-pill a {
	color: red;
}


.cgu-box {
	display: block;
	border: 1px silver solid;
	padding: 20px;
	width: 500px;
	height: 300px;
	overflow-y: scroll;
	margin-bottom: 30px;
}


#big-footer {
	padding-top: 40px;
	margin-top: 40px;
	background: black url('../img/footer-bkg.jpg') top left repeat-x;
	color: white;
	bottom: 0;
}

#footer {
	margin: 0;
	padding: 10px;
	padding-bottom: 40px;
	text-align: center;
}


.centered {
	text-align: center;
}

.big {
	font-size: 200%;
	line-height: 150%;
	padding-top: 30px;
}


.big p.medium {
	font-size: 70%;
}

.big p.huge {
	font-size: 400%;
	line-height: 100%;
}

dd {
	margin-bottom: 20px;
}
