/* CSS SPECIFIQUE */

body {
	mbackground: url('../img/text-herb.jpg') top left;
	padding-top: 40px;
	height: 100%;
}

.fj_container {
	background: white;
}

#captcha td {
	padding-top: 40px;
}

.box {
	background-color: #fff;
	overflow: hidden;
	_overflow: visible;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 2px 2px #F1F1F1;
	box-shadow: 0px 0px 2px 2px #F1F1F1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #EDEDED;	
}

#argu-candidat-1 .lead {
	font-style: italic;
	text-align: center;
}




#offre-speciale-1 {
	width: 180px;
	height: 160px;
	background-color: #cc0001;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	padding: 20px 10px;
	color: white;
	float: right;
	margin: 10px;
	text-align: center;	
}

#offre-speciale-1 h1 {
	text-transform: uppercase;
}

#chevrons {
	margin-bottom: 20px;
	margin-top: 20px;
}

.subhead {
	color: white;
	background-image: url('../img/flowerd.jpg');
	background-size: cover;
	margin: 0;
	width: 100%;
	padding: 0px 0 30px 0;
	margin-bottom: 20px;
	background-color: #EEE;
	height: 130px;
}


.subhead-recruteur {
	background-image: url('../img/flower-recruteur.jpg');
}



.subhead h1 {
margin-bottom: 0;
padding-top: 30px;
font-size: 60px;
line-height: 1;
letter-spacing: -1px;
color: inherit;
}

.subhead p {
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
}


#fj_searchbar_annonces .navbar-inner {

}

#specific-access {
	list-style-type: none;
	margin-bottom: 0px;
	margin-top: 0px;
}

#specific-access .btn {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	border-top: 0;	
}

#specific-access li {
	float: right;
	margin-left: 3px;
}

form .help-block {
	margin-top: -10px;
	color: #AAA;
}

.clonedXp {
	border-bottom: 1px silver solid;
	padding-bottom: 10px;
	margin-bottom: 10px; 
}

#btnDelFormation[disabled],
#btnDelXp[disabled],
#btnDelRecomp[disabled] {
	display: none;
}

.red {
	color: red;
}

#modal_replace form {
	margin: 0;
}







/* CAROUSEL FULL SCREEN */

#myCarousel-fullscreen {
	background-color: black;
}


#myCarousel-fullscreen .carousel img {
	mmin-width: 100%;
	margin: 0 auto;
	height: 600px;
}

.fbconnect-btn {
	display: block;
	width: 158px;
	height: 35px;
	background: url('../img/facebook_connect.png') top left no-repeat;
}









/* BADGES ET LABELS */

.badge-large {
	font-size: 15px;
	line-height: 25px;
}







/* ETOILES */

.star {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../img/csg-50e95a8ff353e.png') no-repeat top left;  
}

.star-off { 
	background-position: 0 0; 
} 

.star-on { 
	background-position: 0 -31px; 
} 









/* TAGS DE FLEURS */

.latin_name {
	font-weight: normal;
}

#added_flowers span {
	margin-right: 3px;
}










/* CAROUSEL DES BOOKS FEATURED */

.featured-book-thumb {
	height: 360px;
	width: 100%;
	overflow: hidden;	
}

.featured-book-thumb img.featured-book-background {
	width: 100%;
	margin-top: -300px;
}

.featured-mini-book-thumb {
	position: absolute;
	top: 70px;
	left: 150px;
	display: block;
	-webkit-box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 8px 8px 15px rgba(0,0,0,0.5);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);	
}


.featured-book-content {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 300px;
	right: 0px;
	top: 0px;
	height: 320px;
	color: white;
	padding : 20px 50px 20px 40px;	
}

.featured-visit-btn {
	position: absolute;
	right: 40px;
	bottom: 40px;
}



#myCarousel-featured {

}

#myCarousel-featured {

}

#myCarousel-featured img {
	
}


.comment .meta-data {
	padding-bottom: 20px;
	font-size: 10px;
}

.red-pill a {
	color: red;
}


.cgu-box {
	display: block;
	border: 1px silver solid;
	padding: 20px;
	width: 500px;
	height: 300px;
	overflow-y: scroll;
	margin-bottom: 30px;
}


#big-footer {
	padding-top: 40px;
	margin-top: 40px;
	background: white url('../img/white-footer.png') top left repeat-x;
	color: #333;
	bottom: 0;
}

#footer {
	margin: 0;
	padding: 10px;
	padding-bottom: 40px;
	text-align: center;
}


.centered {
	text-align: center;
}

.big {
	font-size: 200%;
	line-height: 150%;
	padding-top: 30px;
}


.big p.medium {
	font-size: 70%;
}

.big p.huge {
	font-size: 400%;
	line-height: 100%;
}

dd {
	margin-bottom: 20px;
}

.share {
	margin-top: 40px;
}

.social-share-item {
	margin-bottom : 20px;
}


div.social-permalink {
	clear: left;
}


/* BOOK THUMBS 2 */

.cover {
	position: relative;
	margin-bottom: 5px;
}


.book-container {
	position: relative;
	float: left;
	margin: 0 5px 5px 0;
	background-color: white;
}

.book-fav-count {
	bottom: 10px;
	right: 10px;
	position: absolute;
	color: white;
	background: rgba(0,0,0,0.2);
	padding-left: 3px;
	padding-right: 5px;
}

.book-occasion span {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-weight: normal;
	font-size: 14px;
}

.book-name a {
	padding: 5px;
	font-size: 20px;
}

.book-author {
	padding: 0 5px 0 5px;
}

/* NOUVELLE PAGE BOOK */
.main-book-page-cover {
	float: left;
}


.miniatures {
	margin-top: 30px;
}

.miniatures .pic-thumb {
	margin-right: 5px;
	margin-bottom: 5px;
}

h1, h2, h3, .brand {
	font-weight: normal;
	font-family: 'Yesteryear';
}

h1 {
	font-size: 50px;
	line-height: 60px;
}

h2 {
	font-size: 40px;
	line-height: 50px;
}

h3 {
	font-size: 35px;
	line-height: 40px;
}

.navbar .brand {
	font-size: 25px;
}


a {
	color: #e15862;
}

a:hover {
	color: #b62f40;
}



/* BOUTON ROSE */

.btn-pink {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #D84B6D;
  *background-color: #D84B6D;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D84B6D), to(#8D0A2F));
  background-image: -webkit-linear-gradient(top, #D84B6D, #8D0A2F);
  background-image: -o-linear-gradient(top, #D84B6D, #8D0A2F);
  background-image: linear-gradient(to bottom, #D84B6D, #8D0A2F);
  background-image: -moz-linear-gradient(top, #D84B6D, #8D0A2F);
  background-repeat: repeat-x;
  border-color: #8D0A2F #8D0A2F #8D0A2F #D84B6D;
  border-bottom: 0px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#D84B6Dcc', endColorstr='#8D0A2Fcc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink.active,
.btn-pink.disabled,
.btn-pink[disabled] {
  color: #ffffff;
  background-color: #8D0A2F;
  *background-color: #620620;
}

.btn-pink:active,
.btn-pink.active {
  background-color: #620620 \9;
}





div.section {
	margin-top: 30px;
}


span.title-btn h2 {
	display: inline;
	mmargin-right: 10px;
}

span.title-btn {
	display: block;
	margin-bottom: 15px;
}


.first-row {
	background-color: #280611;
	height: 360px;
}

.home-login h2 {
	color: white;
}

.home-login {
	color: white;
}
